In [1]:
import pandas as pd
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
df=pd.read_csv("Dataset.csv")

In [3]:
df.head()

,E1,px1,py1,pz1,pt1,eta1,phi1,Q1,E2,px2,py2,pz2,pt2,eta2,phi2,Q2,M
0,58.71410,-7.31132,10.531000,-57.29740,12.82020,-2.20267,2.17766,1,11.2836,-1.032340,-1.88066,-11.0778,2.14537,-2.344030,-2.072810,-1,8.94841
1,6.61188,-4.15213,-0.579855,-5.11278,4.19242,-1.02842,-3.00284,-1,17.1492,-11.713500,5.04474,11.4647,12.75360,0.808077,2.734920,1,15.89300
2,25.54190,-11.48090,2.041680,22.72460,11.66100,1.42048,2.96560,1,15.8203,-1.472800,2.25895,-15.5888,2.69667,-2.455080,2.148570,1,38.38770
3,65.39590,7.51214,11.887100,63.86620,14.06190,2.21838,1.00721,1,25.1273,4.087860,2.59641,24.6563,4.84272,2.330210,0.565865,-1,3.72862
4,61.45040,2.95284,-14.622700,-59.61210,14.91790,-2.09375,-1.37154,-1,13.8871,-0.277757,-2.42560,-13.6708,2.44145,-2.423700,-1.684810,-1,2.74718

In [4]:
x = df.drop("M",axis=1)
y = df["M"]

scaler = StandardScaler()
x = scaler.fit_transform(x)

x_Train,x_Test,y_Train,y_Test = train_test_split(x,y,test_size=0.3,random_state=0)

In [5]:
lgbm_model = LGBMRegressor().fit(x_Train,y_Train)

[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.003111 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 3576
[LightGBM] [Info] Number of data points in the train set: 69940, number of used features: 16
[LightGBM] [Info] Start training from score 30.114530

In [6]:
Y_pred = lgbm_model.predict(x_Test)

In [7]:
print("Mean Squared Error:", mean_squared_error(y_Test, Y_pred))
print("R2 Score:", r2_score(y_Test, Y_pred))

Mean Squared Error: 28.147656307732426
R2 Score: 0.9555164692425867